.header {
    background-color: #2b0446;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
.navLink {
    color: white;
    margin-left: 20px;
}
.logo {
    margin-right: 150px;
}